@charset "EUC-KR";
.category-aside {
  position: absolute;
  padding: 5px 14px;
  left: 58px;
  top: 200px;
  max-height: 516px;
  overflow-Y: scroll;
  background-color: var(--navbar-back);
  border: 4px solid var(--header-back);
}

.category-aside::-webkit-scrollbar {
        width: 3px;
    }
    
    .category-aside::-webkit-scrollbar-thumb {
        width: 3px;
        background-color: var(--header-back);
    }

.category-aside ul:not(.second-cate) {
  width: 166px;
  list-style-type: none;
  font-size: 20px;
  display: none;
}
.category-aside input {
  width: 15px;
  height: 15px;
}
.first-cate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 5px 20px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-weight: bold;
}

.second-cate {
  margin-bottom: 20px;
}
