@charset "EUC-KR";
.category-aside {
  position: absolute;
  padding: 5px 10px;
  left: 80px;
  top: 200px;
  background-color: var(--navbar-back);
}

.category-aside ul:not(.second-cate) {
  width: 166px;
  list-style-type: none;
  font-size: 20px;
  display: none;
}
.category-aside input {
  width: 15px;
  height: 15px;
}
.first-cate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 5px 20px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-weight: bold;
}

.second-cate {
  margin-bottom: 20px;
}
