@charset "EUC-KR";
.category-aside {
  position: absolute;
  left: 100px;
  top: 200px;
}

.category-aside ul {
  width: fit-content;
  list-style-type: none;
  font-size: 20px;
}
.category-aside input {
  width: 15px;
  height: 15px;
}
.first-cate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 5px 20px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-weight: bold;
}

.second-cate {
  margin-bottom: 20px;
}
